* {
    padding: 0;
    font-family: monospace;
}


.container {

    text-align: center;
    padding: 30px;
    

}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.logo {
    height: 30px;
    width: 30px;
    background-color: rgb(224, 156, 30);
    display: inline-block;
    
}

.title {
    font-size: 2.5vh;
    padding-bottom: 100px;
}