* {
    padding: 0;
    font-family: monospace;
}


body {
    /* background-image: url(/img/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    
    text-align: center;
}

p {
    font-size: 2vh;
    
}


span {
    color: aqua;
    font-weight: bold;
}

button {
    padding: 20px 50px;
    background-color: rgb(19, 18, 18);
    color: aliceblue;
    border-radius: 7px;
}