* {
    padding: 0;
    font-family: monospace;
}



body {
    background-image: linear-gradient(to bottom, #109bec, #fff);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {

    padding: 30px;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
}

.form-control label {
    padding: 10px;
    display: block;
    width: 100%;
    
}


.form-control input[type=text], input[type=number], input[type=email] {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    display: block;
    width: 100%;
    margin: 10px;
}


.form-control select {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    display: block;
    width: 100%;
    margin: 10px;
}

.form-radio input[type=radio] {
    display: inline-block;
    padding: 10px;
    margin: 10px;
   
}


.form-radio label {
    display: block;
    padding: 10px;
    margin: 10px;
   
}



